@keyframes disappear {
  0% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}
@keyframes appear {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
body {
  font-family: "Hind";
  margin: 0;
  padding: 0;
  background-color: #f8f2e2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f2e2;
  width: 100%;
}
header > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: "Cinzel";
  font-weight: 350;
}
header button {
  font-size: 2rem;
  border-radius: 16px;
  padding: 10px 20px;
  width: 12rem;
  margin-left: 70%;
}
header button#burger_menu {
  width: fit-content;
  padding: 10px 10px;
  margin: 0 70% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header button#burger_menu img {
  fill: #f1faee;
  stroke: #f1faee;
}

.flex-side-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0;
  width: fit-content;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3490196078);
  position: absolute;
  top: 0;
  margin-left: -350px;
}

.side-bar {
  width: 330px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 5px 7px 7px #797979;
  background-color: #f8f2e2;
  z-index: 3;
  top: 0;
}
.side-bar__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.side-bar__head h1 {
  font-family: "Cinzel Decorative";
  font-size: 2.5rem;
}
.side-bar__head button {
  width: fit-content;
  padding: 10px 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar__head button img {
  fill: #f1faee;
  stroke: #f1faee;
}
.side-bar__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 0.3rem;
  border-left: 2px solid #000;
}
.side-bar__menu .cta {
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem 0;
}
.side-bar__menu .cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 1.3rem;
}
.side-bar__menu .hover-button {
  position: relative;
  color: black;
  padding-bottom: 20px;
}
.side-bar__menu .hover-button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.side-bar__menu .cta:hover .hover-button:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#background_side_bar {
  width: 102%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3490196078);
  display: none;
  top: 0;
  margin-left: -350px;
  z-index: 2;
}

button {
  background-color: #A7C8A1;
  border: 0;
  border-radius: 6px;
  color: #f1faee;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 1rem;
  transition-duration: 0.5s;
}
button:hover {
  background-color: #208253;
  transition-duration: 0.5s;
}

.guitar-container {
  width: 100%;
  display: flex;
  flex-wrap: row;
  justify-content: center;
  gap: 5%;
  padding: 2.5rem 0;
  background-color: #f8f2e2;
}
.guitar-container .guitar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 26px;
}
.guitar-container .guitar h2 {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}
.guitar-container .guitar__image {
  width: 50%;
  height: fit-content;
  margin-top: 1rem;
}
.guitar-container .guitar__details {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(248, 248, 248, 0.9725490196);
  justify-content: space-between;
  width: 50%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
}
.guitar-container .guitar__details--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}
.guitar-container .guitar__details--flex h3 {
  font-size: 1.5rem;
  margin: 0;
}

.paging {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 26px;
  margin: 0 10vw 0 10vw;
}
.details-container .main {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 40vw;
  height: auto;
}
.details-container .main .image {
  width: 25vw;
  height: 25vw;
  margin: 3rem;
}
.details-container h2 {
  font-size: 2rem;
  width: fit-content;
}
.details-container .button-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}
.details-container .details {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(248, 248, 248, 0.9725490196);
  justify-content: space-between;
  width: 100%;
  height: 45%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
}
.details-container .details--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 3rem;
}
.details-container .details--flex h3 {
  font-size: 1.5rem;
  margin: 0;
}

.modify {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  gap: 0;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 26px;
  margin: 1rem 10vw;
  padding: 2rem 0;
}
.modify form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modify input {
  background-color: rgba(248, 248, 248, 0.9725490196);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  margin: 0 1rem;
}
.modify label {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modify label h3 {
  margin: 0;
}
.modify label div {
  height: fit-content;
  width: 100%;
  background-color: rgba(248, 248, 248, 0.9725490196);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modify label div img {
  height: 32px;
  width: 32px;
  margin: 4.5%;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "Cinzel";
}