@keyframes disappear {
    0% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes appear {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}