$defaultgreen : #8DD078;
$lightgreen : #f1faee;
$greygreen : #A7C8A1;
$darkgreen : #208253;
$lightbeige : #faf2bc;
$greybeige : #f8f2e2;
$darkbeige : #cccabf;
$lightgrey : #797979;

$defaultfont: 'Hind';
$titlefont: 'Cinzel';
$decorativefont : 'Cinzel Decorative';